<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    
<a href="/admin/addslot"><h1>Add New Slot</h1></a>

<a href="/admin/slotindex"><h1>Show All Slots</h1></a>

</body>
</html>